ul li{
  background-color: black;
  display: inline-table;
  position: relative;
  right: 50px;
  bottom: 12px;
  font-size: 30px;
  color: red;
  width: 300px;
}

p{
  height: 300px;
  column-fill: balance;
  text-align: justify;
  column-width: 300px;
  column-rule: 2px solid black;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
}
